html {
  background: #1b1d2b;
  font-family: System, monospace;
  font-size: 10pt;
}

body {
  padding: 0;
  margin: 0;
}

span:after {
  content: " ";
  display: inline-block;
  width: 2%;
}

fieldset {
  float: left;
  padding-right: 18px;
}

#logo {
  font-family: "Times";
  font-size: 20pt;
  color: #c7c9ff;
}

.window {
  position: relative;
  cursor: default;
  margin: 2em auto;
  width: 80%;
  background: #2a2f4a;
  color: #d6d8ff;
  border: 6px double #5f6cff;
  padding: 1em;
  box-shadow: 0 0 0 3px #2a2f4a, 1em 1em 3px 0 rgba(0, 0, 0, 0.8);
  max-width: 640px;
}

.window.white {
  background: #3a3d55;
  color: #e2e4ff;
  border-color: #7076a8;
  box-shadow: 0 0 0 3px #3a3d55, 1em 1em 3px 0 rgba(0, 0, 0, 0.8);
}

.window.half-width {
  width: 50%;
}

.window h1 {
  text-align: center;
  color: #c7c9ff;
}

.window.blue p {
  color: #bfc3ff;
  text-shadow: 0 0 4px rgba(200, 200, 255, 0.4);
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

button,
.button,
.button:link {
  display: inline-block;
  font-weight: bolder;
  color: #e8eaff;
  font-family: inherit;
  font-size: inherit;
  background: #4b4f7a;
  padding: 0 1em;
  box-shadow: 0.5em 0.5em 3px rgba(0, 0, 0, 0.8);
  position: relative;
  transition: 0.2s all ease-in;
  border: 1px outset #6a6fa8;
}

button.full-width,
.button.full-width {
  display: block;
  text-align: center;
}

button:before,
.button:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
}

button:hover,
.button:active,
.button:focus,
.button:hover {
  transform: translate3d(0.25em, 0.25em, 10em);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  background: #6f74b8;
}

button:hover:before,
.button:hover:before,
button:focus:before,
.button:focus:before {
  top: -1em;
  left: -1em;
}

.button.pressed {
  box-shadow: none;
  left: 0.25em;
  top: 0.25em;
  margin-right: 0.25em;
  background: #2f3148;
  border: 1px outset #505070;
}

button:disabled {
  transform: translate3d(0.25em, 0.25em, 10em);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  background: #3a3c55;
  border: 1px outset #505070;
  color: #9fa2c9;
}

button:first-letter,
.button:first-letter {
  color: #ff79c6;
}

button#btn-transfer {
  margin-top: 20px;
}

input,
textarea {
  background: #1f2233;
  color: #9fe0ff;
  width: 100%;
  max-width: 100%;
  font-size: 12pt;
}

input:disabled {
  background: #2b2d3f;
  color: #8a8db8;
  border: 2px solid #2b2d3f;
}

.window > textarea {
  width: 100%;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.trade-buttons {
  text-align: center;
  margin-top: 20px;
}

div .transfer {
  display: table;
  margin: auto;
}
